a {
    outline: 0 !important;
}

.modal {
    font-size: 16px;
    /*
    background: transparent;
    border: none;
    box-shadow: none;
    color: #3d3d3d;
    position: absolute;
    z-index: 100000;
    */
}

.modal a {
    color: #3d3d3d;
}

.modal a:hover {
    text-decoration: none;
}

.modal-content {
    /*
    background: #eee;
    */
}

.worklet-content .modal-header {
    border-bottom: none !important;
}

.modal-header {
    padding: 0;
    z-index: 100;
}

.carousel-control.left {
    background: transparent url(../images/left.png) no-repeat;
}

.carousel-control.right {
    background: transparent url(../images/right.png) no-repeat;
    right: 2%;
}

.carousel-control {
    display: none;
    left: 2%;
    top: 50%;
    transition: all .1s ease .1s;
}

.carousel-indicators {
    bottom: -45px;
    z-index: 1000;
}

.carousel-indicators li {
    background-color: #acacad;
    border: 0px solid #acacad;
    height: 22px;
    margin: 0 0 0 8px !important;
    width: 22px;
}

.carousel-indicators li:first-child {
    margin-left: 0 !important;
}

.carousel-indicators .active {
    background: #4dadd9;
    border: 0px solid #4dadd9;
    height: 22px;
    width: 22px;
}

.modal-header:hover .transparent_block, .modal-header.hovered .transparent_block {
    /*opacity: 0.46;*/
}

.modal-header:hover .carousel-control {
    display: block;
    height: 45px;
    width: 45px;
}

.modal-header:hover .lightbox_bottom, .modal-header.hovered .lightbox_bottom {
    opacity: 1;
}

.popup_image_hover {
    bottom: 0;
    height: 70px;
    position: absolute;
    width: 100%;
}

.popup_image_hover .transparent_block {
    background: none repeat scroll 0 0 #000;
    height: 70px;
    opacity: 0;
    position: absolute;
    transition: all .1s ease .1s;
    width: 100%;
}

.popup_image_hover .lightbox_bottom {
    opacity: 0;
    transition: all .1s ease .1s;
}

.popup_image_hover .lightbox_bottom .left-icon {
    float: left;
    padding-left: 20px;
}

.popup_image_hover .lightbox_bottom .left-icon li {
    padding-left: 0;
}

.popup_image_hover .lightbox_bottom .left-icon .vote {
    background: #000;
    border-radius: 6px;
    color: #fff !important;
    cursor: pointer;
    float: left;
    font-size: 30px;
    height: 52px;
    line-height: 52px;
    margin-right: 10px;
    padding: 0;
    position: relative;
    text-align: center;
    top: 10px;
    width: 52px;
}

.popup_image_hover .lightbox_bottom .left-icon .vote a {
    color: #fff !important;
    line-height: 52px;
}

.popup_image_hover .lightbox_bottom .left-icon .vote a:hover {
    font-size: 36px;
    text-decoration: none;
}

.popup_image_hover .lightbox_bottom .left-icon .vote a:focus {
    text-decoration: none !important;
}

.popup_image_hover .lightbox_bottom .left-icon .share {
    border-radius: 6px;
    cursor: pointer;
    float: left;
    height: 75px;
    margin-right: 10px;
    position: relative;
    width: 55px;
}

.popup_image_hover .lightbox_bottom .left-icon .share .shareto {
    background: #000 url(../images/share.png) no-repeat center center;
    border-radius: 5px;
    display: block;
    height: 52px;
    position: absolute;
    top: 10px;
    width: 52px;
}

.popup_image_hover .lightbox_bottom .left-icon .share ul {
    background: #656565;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 1px;
    display: none;
    left: -78px;
    list-style: none;
    position: absolute;
    top: 70px;
    width: 150px;
    z-index: 10;
}

.popup_image_hover .lightbox_bottom .left-icon .share ul li {
    font-size: 14px;
    text-align: left;
}

.popup_image_hover .lightbox_bottom .left-icon .share ul li a {
    border-bottom: 1px solid #fff;
    color: #fff;
    display: block;
    line-height: 40px;
    padding-left: 15px;
    text-align: left;
    width: 135px;
}

.popup_image_hover .lightbox_bottom .left-icon .share ul li a:hover {
    background: #ccc;
}

.popup_image_hover .lightbox_bottom .left-icon .share ul li:last-child a {
    border: none;
}

.popup_image_hover .lightbox_bottom .left-icon .share ul li:last-child a:hover {
    border-radius: 0 0 5px 5px;
}

.popup_image_hover .lightbox_bottom .left-icon .share ul li:first-child a:hover {
    border-radius: 5px 5px 0 0;
}

.popup_image_hover .lightbox_bottom .left-icon .share ul:before {
    background: #656565;
    content: "";
    height: 20px;
    left: 70px;
    position: absolute;
    top: -10px;
    transform: rotate(45deg);
    width: 20px;
    z-index: -1;
}

.popup_image_hover .lightbox_bottom .social {
    float: right;
    position: relative;
}

.popup_image_hover .lightbox_bottom .social li {
    line-height: 70px;
    margin: 25px 5px 0;
}

.modal-body_top {
    padding: 30px 0 10px;
}

.lightbox_logo {
    float: left;
    width: 65px;
}

.lightbox_logo img {
    border-radius: 28px;
    height: 55px;
    width: 55px;
}

.lightbox_name {
    font-weight: 700;
}

.lightbox_name .name {
    float: left;
}

.lightbox_name .name .lightbox_name_top {
    font-size: 21px;
    height: 21px;
    overflow: hidden;
}

.lightbox_name .name .lightbox_name_bottom {
    font-size: 14px;
    margin-top: 0;
}

.lightbox_name .edit {
    float: right;
    height: 50px;
    padding: 0;
    position: relative;
    text-align: center;
}

.lightbox_name .edit ul {
    background: #656565;
    border-radius: 5px;
    display: none;
    left: -120px;
    list-style: none;
    position: absolute;
    text-align: left;
    top: 42px;
    width: 130px;
}

.lightbox_name .edit ul li {
    padding-top: 10px;
}

.lightbox_name .edit ul li a {
    color: #FFF;
    font-size: 14px;
    padding: 0 10px;
}

.lightbox_name .edit ul li:last-child {
    padding-bottom: 15px;
}

.lightbox_name .edit ul:before {
    background: #656565;
    content: "";
    height: 20px;
    left: 85px;
    position: absolute;
    top: -10px;
    transform: rotate(45deg);
    width: 20px;
}

.lightbox_name_top a {
    color: #3d3d3d;
    font-size: 21px;
    text-decoration: none;
}

.lightbox_name_top a:hover {
    color: #3d3d3d;
    text-decoration: underline;
}

.lightbox_name_top span {
    display: block;
    font-size: 14px;
}

.lightbox_name_top {
    padding-top: 6px;
}

.hashtags2 {
    line-height: 24px;
    margin-top: 10px;
    padding: 0 13px 0 19px;
    text-align: justify;
}

.comment {
    line-height: 22px;
    margin-left: 19px;
    margin-top: 29px;
    overflow: hidden;
    padding-right: 13px;
    text-align: justify;
    text-overflow: ellipsis;
}

.flag {
    border-top: 1px solid #ccc;
    margin-top: 13px;
    padding: 3px 15px;
}

.modal-footer {
    background: #eee;
    border-radius: 6px;
    box-shadow: none;
    margin-bottom: 10px;
    padding: 14px 0 5px;
    text-align: left;
}

.modal-body {
    background: #eee;
    border-radius: 0 0 6px 6px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
    margin-bottom: 10px;
    padding: 15px 0 4px;
    z-index: 1;
}

.usercomment .flag {
    border-bottom: 1px solid #ccc;
    border-top: none;
    padding: 0 15px;
}

.usercomment:last-child .flag {
    margin-bottom: 30px;
}

.usercomment .numcomment {
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    line-height: 50px;
    margin-bottom: 20px;
}

.usercomment .box-comment textarea {
    border: none;
    border-radius: 4px;
    outline: none;
    padding: 10px;
    resize: none;
    width: 85%;
}

.modal-like {
    background: #eee;
    border-radius: 6px;
    border-top: 1px solid #e5e5e5;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
    margin-bottom: 20px;
    padding: 12px 15px 10px;
}

.modal-like .numberlike {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.modal-like .list-user .items .avatar {
    display: inline-block;
    height: 55px;
    margin: 3px;
    width: 55px;
}

.modal-like .list-user .items .avatar img {
    border-radius: 4px;
    height: 55px;
    width: 55px;
}

.modal-like .more-like {
    border-top: 1px solid #ccc;
    line-height: 50px;
}

.rightbox {
    position: absolute;
    right: 15px;
}

.modal-footer .maincomment .text-center textarea {
    width: 450px;
}

.modal-footer .maincomment .send-comment {
    margin-right: 20px;
}

.content .maginTop-15 {
    margin-top: 40px;
}

.maginTop-10 {
    margin-top: 10px;
}

.send-comment {
    background: linear-gradient(to bottom, #ffffff, #eeeeee);
    border: 1px solid #CCC;
    border-radius: 3px;
    color: #000;
    font-size: 12px;
    font-weight: 700;
    height: 30px;
    padding: 0;
    text-transform: uppercase;
    width: 80px !important;
}

.send-comment:hover {
    background: linear-gradient(to bottom, #00b5e5, #008db2);
    border: 1px solid #007998;
    border-radius: 3px;
    color: #FFF;
    text-shadow: none;
    transition-duration: .3s;
}

.modal .customheart {
    position: relative;
}

.modal .customheart .no-count {
    height: 20px;
    width: 20px;
}

.modal .customheart a {
    background: url(../images/heart-icon.png) no-repeat;
    height: 16px;
    top: 9px;
    width: 18px;
}

.readmorebtn {
    font-size: 50px;
    height: 25px;
    margin-left: 488px;
    opacity: 0.4;
    width: 42px;
}

.readmorebtn:hover {
text-decoration:none;
}

.clear {
    clear: both;
}

.usercomment {
    padding-top: 20px;
}

.modal-dialog a.followBtn {
    background: linear-gradient(to bottom, #5fb5dd 0%, #469cc4 100%);
    border-bottom: 2px solid #3d322d;
    border-radius: 4px;
    color: #FFF;
    display: block;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5fb5dd', endColorstr='#469cc4', GradientType=0);
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 40px;
    padding: 0 16px;
    width: 85px;
}

.supersocialshare a {
    color: #fff !important;
}

.supersocialshare.bubble {
    display: block;
    height: 64px;
    position: relative;
    width: 64px;
    z-index: 1;
}

.supersocialshare.bubble .sb_main {
    -webkit-backface-visibility: hidden;
    background: #000;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    font-size: 30px;
    height: 52px;
    left: 0;
    line-height: 52px;
    position: absolute;
    text-align: center;
    top: 10px;
    width: 52px;
    z-index: 2;
		text-decoration: none;
}

.supersocialshare.bubble .sb_main:hover {
    background-position: 0 -64px;
}

.supersocialshare.bubble .sb_network_button {
    -webkit-backface-visibility: hidden;
    cursor: pointer;
    display: block;
    font-size: 36px;
    height: 46px;
    left: 9px;
    position: absolute;
    top: 18px !important;
    width: 46px;
    z-index: 1;
				text-decoration: none;
}

.sb_network_button.fa-facebook:hover {
    color: #3a509d !important;
}

.sb_network_button.fa-pinterest:hover {
    color: #bb403a !important;
}

.sb_network_button.fa-twitter:hover {
    color: #00aff0 !important;
}

.sb_network_button.fa-heart:hover {
    color: #ff649b !important;
}

#modalWindow {
    margin-left: -288px;
}

.modal-body.spinner {
    min-height: 300px;
}

.modal-dialog .modal-close-button {
    color: rgba(255, 0, 0, 0.63) !important;
    font-size: 37px;
    position: fixed;
    right: 35px;
    top: 13px;
}

.modal-dialog .modal-close-button:hover {
    color: rgba(241, 241, 241, 0.90) !important;
    cursor: pointer;
}

.deletePost, .deletePost:focus {
    color: red !important;
    font-size: 20px;
    line-height: 1.4;
    text-decoration: none !important;
}

.template-download.fade {
    opacity: 1;
    position: relative;
}

.brown-bg.modal-title {
    background-color: #5f4e47;
    border-radius: 4px 4px 0 0;
    color: #fff;
    font-size: 14px;
    font-weight: 100;
    margin: -10px -20px 0;
    padding: 10px 20px;
    position: relative;
}

.brown-bg.modal-title i {
    color: #a5a5a5;
    font-size: 23px;
    position: absolute;
    right: 14px;
    top: 9px;
}

.brown-bg.modal-title i:hover {
    cursor: pointer;
}

.fileinput-button .ui-button-text, .row.buttons .ui-button-text {
    background: #f6f6f6 linear-gradient(rgba(95, 78, 71, 0), rgba(0, 0, 0, 0.05)) !important;
    border: 0 !important;
    color: #999;
    display: inline-block !important;
    font-family: Roboto, sans-serif !important;
    padding: 10px 0 !important;
    text-align: center !important;
    width: 120px !important;
}

.fileinput-button .ui-button-text:hover, form .row.buttons .ui-button-text:hover {
    background: #f7f7f7 none !important;
    border: 0 !important;
    color: #999;
}

.fileinput-button .ui-button-text {
    background: #f6f6f6 linear-gradient(rgba(95, 78, 71, 0), rgba(0, 0, 0, 0.05)) !important;
    color: #999;
    display: inline-block !important;
    font-family: Roboto, sans-serif !important;
    font-size: 15px;
    padding: 10px 0 !important;
    text-align: center !important;
    width: 120px !important;
}

.fileinput-button .ui-button-text i:hover {
    color: red !important;
}

.row.field_image label {
    display: none !important;
}

.fileupload-buttonbar .ui-sortable .fileupload-tip {
    text-align: center;
}

.fileupload-buttonbar .fileupload-buttons {
    overflow: hidden;
    padding: 10px;
    text-align: center;
}

.fileupload-buttonbar .fileupload-buttons span {
    border: 0;
}

form .row.buttons .ui-button-text {
    bottom: 30px;
    position: absolute;
    right: 20px;
}

#wlt-PicturePost .worklet-content .column.last {
    float: right;
    width: 60%;
}

#uForm_PicturePost .row.field_message {
    padding-bottom: 50px;
}

#wlt-PicturePost .controls {
    background-color: #FFF !important;
    color: #999 !important;
}

#selector .controls {
    font-size: 18px;
}

.template-download.fade .delete-button {
    background: 0;
    border: 0;
    bottom: 5px;
    position: absolute;
    right: -2px;
}

.delete-button.delete .ui-button-icon-primary.ui-icon.ui-icon-trash {
    display: none;
}

.delete-button.delete .ui-button-text {
    padding: 0;
}

.fileupload-tip {
    color: gray;
}

.row.field_boardType fieldset label {
    margin: -4px 0 0 4px;
}

.modal .comment a {
    color: #08c;
}

.boardCard .bs-example {
    padding: 0 5px 7px !important;
}

.boardCard .cover {
    min-height: 166px;
    padding: 5px;
}

.boardCard .no-cover {
    border: solid 1px #DCDCDC;
    min-height: 166px;
    padding-bottom: 5px;
}

.boardCard {
    border: none !important;
}

.boardCard .span4 {
    float: left !important;
    margin-left: 2.5641025641026%;
    width: 31.491712707182% !important;
}

#uForm_PictureCommentReport .report-complete-wrapper {
    margin-left: -64px;
    padding: 20px;
    width: 323px;
}

#uForm_PictureCommentReport label {
    padding-left: 10px;
}

#uForm_PictureCommentReport fieldset {
    line-height: 30px;
    margin-bottom: 10px;
}

#uForm_PictureCommentReport .row.buttons input {
    font-size: 13px;
}

#uForm_PictureCommentReport li, .errorSummary li {
    color: #ff5453;
    display: block;
    font-size: 14px;
}

#uForm_BoardCreate select {
    width: 53%;
}

#uForm_BoardCreate .row.buttons {
    padding-top: 15px;
}

#uForm_BoardCreate .row.buttons input {
    margin-right: 17px;
}

#uForm_BoardCreate fieldset input[type="radio"] {
    margin-right: 5px;
    margin-top: 3px;
}

#uForm_UserNotify {
    padding-left: 140px;
    padding-top: 15px;
}

#uForm_UserNotify .row.buttons {
    margin-bottom: 12px;
    margin-left: 65px;
    margin-top: 15px;
}

#uForm_UserNotify input {
    margin-right: 8px;
}

#uForm_UserNotify fieldset label {
    margin-top: -4px;
}

.worklet-content .channel_name {
    max-height: 42px;
    overflow: hidden;
}

.login-form .form-input, .login-form input {
    height: 48px;
    padding-left: 49px;
}

.signin-form .row-fluid input, .contact-form .row-fluid input {
    background-color: #F9F9F9;
    border: 1px solid #e5e5e5;
    color: #9fa7b7;
    font-size: 14px;
    height: 39px;
    padding-left: 15px;
    padding-right: 8px;
}

.login-form .form-input-ico {
    color: gray;
    display: block;
    font-size: 22px;
    margin-left: 21px;
    margin-top: 14px;
    position: absolute;
}

.login-form .checkbox input {
    height: auto;
    margin-right: 8px !important;
}

.login-form .checkbox {
    color: gray;
    padding: 20px 0 0;
}

.login-form .login-submit {
    border: none;
    margin: -40px 0 0 138px !important;
    padding: 0;
    width: 296px;
}

.signin-form .login-submit, .contact-form .contact-submit {
    border: none;
    width: 100%;
}

.login_popup .socialButtons {
    box-shadow: none;
    float: left;
    width: 77%;
}

.socials .button {
    border: 0;
    cursor: pointer;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    margin: 0 0 1.25rem;
    padding: 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
}

.socials .twitter .twitter-icon {
    border-right: 1px solid rgba(66, 162, 179, 0.3);
    display: inline-block;
    padding: 18px 0;
    width: 45px;
}

.socials .facebook .facebook-icon {
    border-right: 1px solid rgba(61, 102, 150, 0.3);
    display: inline-block;
    padding: 15px 0;
    width: 45px;
}

.socials .facebook .facebook-link, .socials .twitter .twitter-link {
    color: #fff;
    display: inline-block;
    font-weight: 700;
    width: 101px;
}

.socials .twitter:hover {
    background: #52cbde none;
}

.socials .facebook:hover {
    background: #618dbc none;
}

.socials .facebook {
    background: #4574aa linear-gradient(to bottom, #618dbc, #4574aa);
    border: 1px solid #4aa6d1;
    border-radius: 0 3px 3px 0;
    border-right-color: rgba(104, 210, 225, 0.7);
    box-shadow: inset 0 -1px 0 #4296bc, inset 0 1px 0 #608aba;
    display: inline-block;
}

.socials .twitter {
    background: #4cbccf linear-gradient(to bottom, #52cbde, #4cbccf);
    border: 1px solid #51c5dd;
    border-radius: 3px 0 0 3px;
    border-right-color: rgba(104, 210, 225, 0.7);
    box-shadow: inset 0 -1px 0 rgba(66, 162, 179, 0.7), inset 0 1px 0 rgba(104, 210, 225, 0.7);
    display: inline-block;
    width: 100%;
}

.social-wrapper .label-left {
    color: gray;
    float: left;
    margin-left: -2px;
    padding-left: 0;
    padding-top: 10px;
    width: 202px;
}

.blue-button {
    background-color: #4ba8d3;
    border-bottom: 1px solid #4aa6d1;
    border-radius: 3px;
    border-top: 1px solid #4aa6d1;
    box-shadow: inset 0 -1px 0 #4296bc, inset 0 1px 0 #65b8de;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 0;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.blue-button:hover {
    background-color: #54bced;
}

input.blue-button:active {
}

input[disabled].blue-button {
    background-color: #54bced;
    cursor: not-allowed;
}

.login_popup .account, .signup_popup .account {
    background-color: #5f4e47;
    border-radius: 0 0 9px 9px;
    margin: 0 -30px -16px;
    padding: 20px 30px;
}

.login_popup .account p, .signup_popup .account p {
    color: #fff;
    margin: 0;
    text-align: right;
}

.login_popup a.forgot-psw {
    color: #bab5b3;
    float: left;
    font-weight: 700;
}

.login_popup .account span, .signup_popup .account a {
    color: #f99;
}

.checkbox label {
    display: inline-block;
    padding-left: 5px;
    position: relative;
}

.radio label, .checkbox label {
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
}

.checkbox.checkbox-info {
    padding-bottom: 11px;
   /* padding-left: 7px;*/
    padding-top: 0;
}

.checkbox label::before {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    content: "";
    display: inline-block;
    height: 17px;
    /*left: 0;*/
    margin-left: -25px;
    padding: 1px 1px 3px 3px;
    position: absolute;
    transition: border .15s ease-in-out, color .15s ease-in-out;
    width: 17px;
}

.checkbox-info.green input[type="radio"]:checked + label::before {
    background-color: #76B57C;
    border-color: #5cb85c;
}

.checkbox input[type="radio"]:checked + label::before {
    color: #fff;
    content: "\f00c";
    font-family: FontAwesome;
}

.checkbox-info label {
    color: gray;
    padding-left: 10px;
    padding-right: 10px;
}

.signup_popup .row.buttons, .contact-form .row.buttons {
    padding-bottom: 9px;
    padding-right: 4px;
    width: auto;
}

.signup_popup .social-wrapper .label-left, .contact_popup .social-wrapper .label-left {
    color: #9fa7b7;
    font-family: sans-serif;
    font-size: 20px;
    padding-top: 5px;
    width: 202px;
}

.signup_popup .captcha-wrapper, .contact_popup .captcha-wrapper {
    padding-left: 19px;
}

.captcha-description {
    color: #9fa7b7;
    font-size: 13px;
    padding-top: 17px;
}

.field_termsAgree input {
    height: auto;
}

.field_termsAgree label {
    color: gray;
    font-size: 12px;
    margin-top: -3px !important;
    padding-bottom: 5px;
    padding-left: 0;
}

.field_termsAgree .terms.shareto {
    color: #76b57c;
}

.signin-form .signup-input, .contact-form .contact-input {
    padding-right: 34px;
    width: 247px;
}

.login_popup .row.social-wrapper {
    padding-bottom: 21px;
    padding-top: 8px;
}

.login_popup .row.field_rememberMe {
    padding-top: 21px;
}

.login_popup form .row {
    margin-top: 16px;
}

.checkbox.checkbox-info input {
    height: 0;
    margin-left: 13px;
    margin-top: 0;
    padding: 0;
    width: 0;
}

.contact_popup textarea {
    background-color: #f9f9f9;
    border: 1px solid #e5e5e5;
    color: #9fa7b7;
    font-size: 14px;
    height: 129px !important;
    padding: 15px;
    width: 464px !important;
}

.modal-close-button {
    color: gray;
    cursor: pointer;
    font-size: 22px;
}

.contact_popup .social-wrapper {
    padding-bottom: 40px;
}

.contact-form .report-complete-wrapper {
    color: gray;
    margin-top: -32px;
    padding-bottom: 35px;
    text-align: center;
}

.login_popup {
    padding-top: 22px;
}

.signup_popup .row-fluid, .contact_popup .row-fluid {
    padding-bottom: 6px;
}

.signup_popup .row.social-wrapper {
    padding-bottom: 16px;
    padding-top: 10px;
}

.signup_popup .row.field_termsAgree {
    padding-left: 10px;
    padding-top: 12px;
}

.signin-form, .contact-form {
    width: 510px;
}

#wlt-BaseContact .worklet-content {
    padding: 20px 30px;
}

.contact-form .row.field_message {
    margin: 0 0 22px;
}

.contact-form .row.buttons {
    margin-bottom: -10px;
    margin-right: 10px;
    margin-top: -19px;
}

.login_popup input.span12 {
    background-color: #f9f9f9;
    color: #9fa7b7;
}

.login_popup .row.buttons {
    margin-left: 60px;
    width: 344px;
}

#wlt-UserLogin {
    /*width: 558px;*/
display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}


.login_popup .span2.fogot-wrapper {
    font-size: 15px;
    margin-left: -2px;
}

.login_popup .span2.no-acc-wrapper {
    font-size: 14px;
    padding-right: 4px;
}

.signup_popup .row.social-wrapper h4 {
    font-size: 19px;
    margin: 12px 0;
}

.signup_popup .account {
    font-size: 14px;
}

.login-form i.fa {
    color: #C8DDE2;
}

.row.field_rememberM label {
    color: #a5adbe;
    padding-left: 22px;
    padding-top: 17px;
}

.row.field_termsAgree label {
    line-height: 30px!important;
    height: 30px;
}

.row.field_rememberMe input[type="checkbox"]:checked + label::before, .row.field_termsAgree input[type="checkbox"]:checked + label::before {
    background-color: #76B57C;
    border-color: #5cb85c;
    color: #fff;
    content: "\f00c";
    font-family: FontAwesome;
    font-size: 15px;
    line-height: 15px!important;
}

.row.field_rememberMe label::before, .row.field_termsAgree label::before {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    content: "";
		display: -webkit-inline-flex;
    display: inline-flex;
    height: 15px;
		/*removed harcoded css*/
    /*left: 0;
    margin-left: 33px;
    position: absolute;*/
		margin-right: 5px;
    transition: border .15s ease-in-out, color .15s ease-in-out;
    width: 15px;
    padding: 1px;
    line-height: 20px!important;
}

.row.field_rememberMe input[type="checkbox"], .row.field_termsAgree input[type="checkbox"] {
    height: 0;
    padding: 0;
    width: 0;
}

.row.field_rememberMe input[type="checkbox"] {
    margin-left: 11px !important;
    margin-top: 27px !important;
}

.contact_popup .captcha-wrapper {
    padding-bottom: 10px;
}

.content form .row.field_rememberMe input[type=checkbox] {
    margin: 0;
}

.modal-header .item img, .signin-form .signup-input input, .contact-form .contact-input input {
    width: 100%;
}

.popup_image_hover .lightbox_bottom .left-icon .vote a:active, .signin-form .login-submit:focus, .contact-form .contact-submit:focus, .checkbox.checkbox-info input:focus, .row.field_rememberMe input[type="checkbox"]:focus, .row.field_termsAgree input[type="checkbox"]:focus {
    outline: none;
}

.popup_image_hover .lightbox_bottom .left-icon .share:hover ul, .lightbox_name .edit:hover ul {
    display: block;
}

#wlt-PictureView > .worklet-content .modal-body, #wlt-PictureView .modal-like {
    box-shadow: none !important;
}

.modal-body-container, .usercomment_container {
    padding: 0 15px;
}

.usercomment .numcomment a, .modal-like .more-like a {
    font-size: 14px;
}

.usercomment .numcomment .dot, .modal-like .more-like .dot {
    font-size: 30px;
}

.maginTop-15, #uForm_UserRestore .row.field_email {
    margin-top: 20px;
}

#wlt-PictureOptions .worklet-content, .column.last #uForm_PicturePost div, .column.last #uForm_PicturePost div textarea, .column.last #uForm_PicturePost div input {
    margin: auto !important;
}

#wlt-UserLogin .worklet-content, #wlt-UserSignup .worklet-content {
    padding: 10px 30px;
}


.modal-backdrop.fade.in{
    overflow-y: auto;
}

.modal-backdrop.fade.in::-webkit-scrollbar { 
    display: none; 
}

input#MUserLoginForm_rememberMe {

display:none;
}

.checkbox.checkbox-info input[type="radio"] {
display:none;
}

.content form .row input[type="checkbox"] {
/*display:none;*/
}

.brown-bg2.modal-title {
  background-color: #5f4e47;
  border-radius: 4px 4px 0 0;
  color: #fff;
  font-size: 14px;
  font-weight: 100;
  /* margin: -10px -20px 0; */
  padding: 10px 20px;
  position: relative;
}

.brown-bg2.modal-title i {
  color: #a5a5a5;
  font-size: 23px;
  position: absolute;
  right: 14px;
  top: 9px;
	  cursor: pointer;
}

label[for=MUserLoginForm_rememberMe] {
    line-height: 30px;
}